<!-- <button nz-button nzType="primary" (click)="creataddForm()"><span>新增</span></button>  -->
<input nz-input placeholder="按学号或姓名搜索" [(ngModel)]="searchTerm" (input)="searchInfo()"/>
<nz-table 
        #basicTable
        nzFrontPagination=true
        nzShowSizeChanger=true        
        [nzData]="listOfStudents"
        [nzPageSize]="10"
        [nzScroll]="{ y: '660px' }"
      >
      <thead>
        <tr>
          <th nzColumnKey="studentId"
          [nzSortFn]="idSortFn"  
          [nzSortOrder]="idSortOrder"
          [nzSortDirections]="idSortDirections"
          nzWidth="110px">学号</th>
          <th nzColumnKey="studentName"  nzWidth="100px">姓名</th>
          <th nzColumnKey="gender" [nzFilters]="genderFilter" [nzFilterFn]="genderFilter"[nzFilterMultiple]="true" nzWidth="50px">性别</th>
          <th nzColumnKey="achoolYear" 
          [nzSortOrder]="yearSortOrder"
          [nzSortFn]="yearSortFn"
          [nzSortDirections]="yearSortDirections" nzWidth="120px">入学年份</th>
          <th nzColumnKey="telephone"  nzWidth="140px">电话</th>
          <th nzColumnKey="email"  nzWidth="200px">电子邮件</th>
          <th nzColumnKey="studentType" [nzFilters]="typeFilter"[nzFilterFn]="typeFilterfn" [nzFilterMultiple]="true"nzWidth="60px">学历</th>
          <th nzColumnKey="idNo"  nzWidth="200px">身份证</th>
          <th zColumnKey="photo" nzWidth="100px">照片</th>
          <th zColumnKey="action"  nzWidth="120px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of basicTable.data">
          <td >{{dataItem.studentId}}</td>
          <td >{{dataItem.studentName}}</td>
          <td >{{dataItem.gender | sexReform }}</td>
          <td >{{dataItem.schoolYear}}</td>
          <td >{{dataItem.telephone}}</td>
          <td >{{dataItem.email}}</td>
          <td >{{dataItem.studentType | scholarReform}}</td>
          <td >{{dataItem.idNo}}</td>
          <td>【照片】</td>
          <td >
                <!-- <button nz-button nzShape="round" (click)="creatupdateForm(dataItem)">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button nz-button nzShape="round" (click)="deleteClick(dataItem)"nzDanger>
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
                <button  nz-button nzType="primary"  nzShape="round" ><i nz-icon nzType="upload" nzTheme="outline"></i>上传照片</button> -->
          </td>
        </tr>
      </tbody>
</nz-table>
